<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P2_28051690</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
   <section class="home">

   </section>
  </body>
</html>
