<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P2_28051690</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div class="pc">
      <section class="contenedor">
        <article class="container">
          <div class="sin-nombre"></div>
          <div class="mi-nombre">
            <h1 class="titulo-mi-nombre">Gabriel Bolivar</h1>
            <h5 class="subtitulo-mi-nombre">Ing. Informatico</h5>
          </div>
        </article>
        <article class="container2">
          <div class="sin-nombre"></div>
          <div class="informacion">
            <div class="cuadro-info-derecho">
              <h3 class="info-titulo">ATOS PÉRSONALES</h3>
              <ul>
                <li>Fecha de nacimiento:<b>23 de octubre de 2001</b></li>
                <li>Direccion:<b>Los Bagres (Valles de Tucutunemo) Calle Sucre casa N°11</b></li>
                <li>Cedula de identidad:<b>28051690</b></li>
                <li>Rif:<b>1280516909-NRY</b></li>
              </ul>
               
            
            </div>
            <h3 class="info-titulo">EXPERIENCIA LABORAL</h3>
            <div class="cuadro-derecho">
              <ul>
                <li><b>Agricultor</b></li>
            </div>
          </div>
        </article>
      </section>
    

      <section class="contenedor2">
        <article class="cuadro-imagen">
          <div class="circulo">
            <img src="/images/gabriel.png" alt="">
          </div>
        </article>
        <article class="cuadro-info">
          <h3 class="info-titulo">CONTACTO</h3>
          <ul class="li-estilo-contacto">
            <li>
              <i class="ri-phone-fill"></i>
              <b>0424-354 02 61</b>
            </li>
            <li>
              <i class="ri-mail-fill"></i>
              <b>gabrieliasbolivar@gmail.com</b>
            </li>
            <li>
              <i class="ri-global-line"></i>
              <b>www.ejemplo.com</b>
            </li>
          </ul>
        </article>
        <article class="cuadro-info">
          <h3 class="info-titulo">HABILIDADES</h3>
          <ul>
            <li>Liderazgo</li>
            <li>Trabajo en equipo</li>
            <li></li>
          </ul>
        </article>
        <article class="cuadro-info">
          <h3 class="info-titulo">FORMACION ACADEMICA</h3>
          <ul>
            <li>Primaria</li>
            <b>U.E.E."Simona Isabel Acacio"</b>
            <li>Bachillerato</li>
            <b>U.E.N."TUCUTUNEMO"</b>
            <li>Actualmente</li>
            <b>U.N.E."Romulo Gallegos"</b>
          </ul>
        </article>
      </section>
      </div>

      <div class="pc">
        <section class="contenedor">
          <article class="container">
            <div class="sin-nombre"></div>
            <div class="mi-nombre">
              <h1 class="titulo-mi-nombre">Gabriel Bolivar</h1>
              <h5 class="subtitulo-mi-nombre">Ing. Informatico</h5>
            </div>
          </article>
          <article class="container2">
            <div class="sin-nombre"></div>
            <div class="informacion">
              <div class="cuadro-info-derecho">
                <h3 class="info-titulo">ATOS PÉRSONALES</h3>
                <ul>
                  <li>Fecha de nacimiento:<b>23 de octubre de 2001</b></li>
                  <li>Direccion:<b>Los Bagres (Valles de Tucutunemo) Calle Sucre casa N°11</b></li>
                  <li>Cedula de identidad:<b>28051690</b></li>
                  <li>Rif:<b>1280516909-NRY</b></li>
                </ul>
                 
              
              </div>
              <h3 class="info-titulo">EXPERIENCIA LABORAL</h3>
              <div class="cuadro-derecho">
                <ul>
                  <li><b>Agricultor</b></li>
              </div>
            </div>
          </article>
        </section>    
      </div>
      <div class="movil">
        <section class="contenedor2">
          <article class="cuadro-imagen">
            <div class="circulo">
              <img src="/images/gabriel.png" alt="">
            </div>
          </article>
          <article class="cuadro-info">
            <h3 class="info-titulo">CONTACTO</h3>
            <ul class="li-estilo-contacto">
              <li>
                <i class="ri-phone-fill"></i>
                <b>0424-354 02 61</b>
              </li>
              <li>
                <i class="ri-mail-fill"></i>
                <b>gabrieliasbolivar@gmail.com</b>
              </li>
              <li>
                <i class="ri-global-line"></i>
                <b>www.ejemplo.com</b>
              </li>
            </ul>
          </article>
          <article class="cuadro-info">
            <h3 class="info-titulo">HABILIDADES</h3>
            <ul>
              <li>Liderazgo</li>
              <li>Trabajo en equipo</li>
              <li></li>
            </ul>
          </article>
          <article class="cuadro-info">
            <h3 class="info-titulo">FORMACION ACADEMICA</h3>
            <ul>
              <li>Primaria</li>
              <b>U.E.E."Simona Isabel Acacio"</b>
              <li>Bachillerato</li>
              <b>U.E.N."TUCUTUNEMO"</b>
              <li>Actualmente</li>
              <b>U.N.E."Romulo Gallegos"</b>
            </ul>
          </article>
        </section>
      </div>  
  </body>
</html>
