<!DOCTYPE html>
<html>
  <head>
    <title><title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola Mundo</h1>
    <p>Nombre: Gabriel</p>
    <p>Apellido: Bolivar</p>
    <p>Celula: 28051690</p>
    <p>Seccion: 4</p>
  </body>
</html>
