<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>P2_28051690</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NY9J9Q9HV9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-NY9J9Q9HV9');
  </script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
  <div class="pc">
    <div class="pc-add-form">
      <section class="contenedor">
        <article class="container">
          <div class="sin-nombre"></div>
          <div class="mi-nombre">
            <h1 class="titulo-mi-nombre">Gabriel Elias Bolivar Lopez</h1>
            <h5 class="subtitulo-mi-nombre">Ing. Informatico</h5>
          </div>
        </article>

        <article class="container2">
          <div class="sin-nombre"></div>

          <div class="informacion">
            <div class="cuadro-info-derecho">
              <span class="acerda-de-mi">DATOS PERSONALES</span>
              <ul>
                <li>Fecha de nacimiento</li>
                <b>23 de obtubre del 2001</b>
                <br />
                <li>Direccion</li>
                <b
                  >Los Bagres (Valles del Tucutunemo) Calle Sucre Casa n°11</b
                >
                <br />
                <li>Cedula de Identidad</li>
                <b>28.051.690</b>
                <br />
                <li>Rif</li>
                <b>1280516909-NRY</b>
              </ul>
            </div>

            <span class="experiencia-laboral">EXPERIENCIA LABORAL</span>
            <br />

            <div class="cuadro-derecho">
              <span><b>Agricultor</b></span>
              <br />
              <ul>
                <li>Trabajo en el campo</li>
              </ul>
            </div>
          </div>
        </article>
      </section>

      <section class="contenedor2">
        <article class="cuadro-imagen">
          <div class="circulo">
            <img src="/images/gabriel.png " alt="" />
          </div>
        </article>

        <article class="cuadro-info">
          <span class="subtitulo">CONTACTO</span>
          <br />
          <br />
          <div class="estilo-cuadro-contacto">
            <div class="estilo-subcuadro-contacto">
              <div class="circulo-iconos">
                <i class="iconos ri-phone-fill"></i>
              </div>
              <span class="info-icono">0424-354.02.61</span>
            </div>

            <div class="estilo-subcuadro-contacto">
              <div class="circulo-iconos">
                <i class="iconos ri-mail-fill"></i>
              </div>
              <span class="info-icono">gabrieliasbolivar@gmail.com</span>
            </div>

            <div class="estilo-subcuadro-contacto">
              <div class="circulo-iconos">
                <i class="ri-facebook-circle-fill"></i>
              </div>
              <span class="info-icono"
                ><a href="https://www.facebook.com/gabriel.bolivar.773">
                  Facebook</a
                ></span
              >
            </div>

            <div class="estilo-subcuadro-contacto">
              <div class="circulo-iconos">
                <i class="ri-github-fill"></i>
              </div>
              <span class="info-icono"
                ><a href="https://github.com/Gabriel23BL"> GitHub</a></span
              >
            </div>
          </div>
        </article>
        <article class="cuadro-info">
          <span class="subtitulo">HABILIDADES</span>
          <ul class="habilidades">
            <li>Liderazgo</li>
            <li>Trabajo en equipo</li>
            <li>Competitivo</li>
            <li>Destresa</li>
            <li>Responsable</li>
            <li>Eficiente</li>
          </ul>
        </article>

        <article class="cuadro-info">
          <span class="subtitulo">FORMACION ACADEMICA</span>
          <ul class="habilidades">
            <li>Escuela</li>
            <b class="info-icono">U.E.E."Simona Isabel Acacio"</b>
            <br />
            <br />
            <li>Bachiderato</li>
            <b class="info-icono">U.E.N."TUCUTUNEMO"</b>
            <br />
            <br />
            <li>Universidad</li>
            <b class="info-icono">U.N.E."Romulo Gallegos"</b>
            <br />
            <br />
          </ul>
        </article>
      </section>

      
    </div>
    

    <div class="contenedor3">
      <form class="formulario" action="/send" method="post">
          <label class="rai" for="">Correo</label><br />
          <input
            class="plo"
            placeholder="ejemplo@ejemplo.com"
            type="text"
            name="correo"
          /><br />

          <label class="rai" for="">Nombre</label><br />
          <input
            class="plo"
            placeholder="Nombre Completo"
            type="text"
            name="nombre"
          /><br />

          <label class="rai" for="">Comentario</label><br />
          <textarea
            placeholder="Ingresa tu comentario"
            name="comentario"
            id=""
          ></textarea>
          <br><br>
            <div class="g-recaptcha" data-sitekey="<%= KEYPUBLIC %>"></div>
            <br />
            <button class="bto">Enviar</button>
          </form>
        </div>
      </div>
      <div class="mobil">
        <section class="contenedor2">
          <div class="contenedor20">
            <article class="cuadro-imagen">
              <div class="circulo">
                <img src="/images/gabriel.png " alt="" />
              </div>
            </article>
    
            <article class="mi-nombre">
              <h1 class="titulo-mi-nombre">Gabriel Bolivar</h1>
              <h5 class="subtitulo-mi-nombre">Ing. Informatico</h5>
            </article>
    
            <article class="cuadro-info">
              <span class="subtitulo">CONTACTO</span>
              <br />
              <div class="estilo-cuadro-contacto">
                <div class="estilo-subcuadro-contacto">
                  <div class="circulo-iconos">
                    <i class="iconos ri-phone-fill"></i>
                  </div>
                  <span class="info-icono"> 0424-354.02.61</span>
                </div>
    
                <div class="estilo-subcuadro-contacto">
                  <div class="circulo-iconos">
                    <i class="iconos ri-mail-fill"></i>
                  </div>
                  <span class="info-icono"> gabrieliasbolivar@gmail.com</span>
                </div>
    
                <div class="estilo-subcuadro-contacto">
                  <div class="circulo-iconos">
                    <i class="ri-facebook-circle-fill"></i>
                  </div>
                  <span class="info-icono"
                    ><a href="https://www.facebook.com/gabriel.bolivar.773">
                      Facebook</a
                    ></span
                  >
                </div>
    
                <div class="estilo-subcuadro-contacto">
                  <div class="circulo-iconos">
                    <i class="ri-github-fill"></i>
                  </div>
                  <span class="info-icono"
                    ><a href="https://github.com/Gabriel23BL"> GitHub</a></span
                  >
                </div>
              </div>
            </article>
    
            <article class="cuadro-info">
              <span class="subtitulo">HABILIDADES</span>
              <ul class="habilidades">
                <li>Liderazgo</li>
                <li>Trabajo en equipo</li>
                <li>Competitivo</li>
                <li>Destresa</li>
                <li>Responsable</li>
                <li>Eficiente</li>
              </ul>
            </article>
    
            <article class="cuadro-info">
              <span class="subtitulo">FORMACION ACADEMICA</span>
              <ul class="habilidades">
                <li>Escuela</li>
                <b class="info-icono">U.E.E."Simona Isabel Acacio"</b>
                <br />
                <br />
                <li>Bachiderato</li>
                <b class="info-icono">U.E.N."TUCUTUNEMO"</b>
                <br />
                <br />
                <li>Universidad</li>
                <b class="info-icono">U.N.E."Romulo Gallegos"</b>
                <br />
                <br />
              </ul>
            </article>
          </div>
    
          <div class="contenedor21">
            <article class="informacion">
              <div class="cuadro-info2">
                <span class="acerda-de-mi">DATOS PERSONALES</span>
                <ul>
                  <li>Fecha de nacimiento</li>
                  <b>23 de obtubre del 2001</b>
                  <br />
                  <li>Direccion</li>
                  <b>Los Bagres (Valles del Tucutunemo) Calle Sucre Casa n°11</b>
                  <br />
    
                  <li>Cedula de Identidad</li>
                  <b>28.051.690</b>
                  <br />
                  <li>Rif</li>
                  <b>1280516909-NRY</b>
                </ul>
              </div>
    
              <span class="exp-laboral">EXPERIENCIA LABORAL</span>
              <br />
              <div class="cuadro-info3">
                <ul class="experiencia-laboral">
                  <li class="circulo-azul">
                    <div class="circulo-azul-pequeño">d</div>
                    <br />
                    <br />
                    <span><b>Agricultor</b></span>
                    <br />
                    <ul>
                      <li>Trabajo en el campo</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </article>
          </div>
    
          <div>
            <form class="formulario" action="/send" method="post">
              <label class="rai" for="">Correo</label><br />
              <input class="plo" placeholder="ejemplo@ejemplo.com" type="text" name="correo"/>
              <br/>
    
              <label class="rai" for="">Nombre</label><br />
              <input class="plo" placeholder="Nombre Completo" type="text" name="nombre" />
              <br/>
    
              <label class="rai" for="">Comentario</label><br />
              <textarea placeholder="Ingresa tu comentario" name="comentario" id=""></textarea>
              <br><br>
              <div class="g-recaptcha" data-sitekey="<%= KEYPUBLIC %>"></div>
              <br />
              <button class="bto">Enviar</button>
            </form>
          </div>
        </section>
      </div>
      
    </section>
    <script src="/javascripts/validacionform.js"></script>
    <script src="../app.js"></script>
</body>

</html>
  




  
</html>